body {
    font-family: 'Montserrat', sans-serif !important;

}

.font-24 {
    font-size: 24px !important;
}

nav {
    margin-top: 52px !important;
    margin-bottom: 36px !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
}